<h1 class="page-title">{{ title }}</h1>

<section class="slider">
    <div class="container" #slider>
        <mat-card class="card" draggable="true" *ngFor="let slide of slides"
            [ngStyle]="{'background-image': 'url(' + slide.image + ')'}">
            <mat-card-header>
                <mat-card-title>{{ slide.title }}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p>{{ slide.message }}</p>
            </mat-card-content>
        </mat-card>
    </div>
</section>

<a mat-raised-button class="get-started" routerLink="scan">Get Started</a>